div.header {
    width: 100%;
    height: 90px;
}

div.logo {
    position: fixed;
    right: 100px;
    background-color: #ff84c8;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    top: 5px;
    border-style: double;
    border-color: #ffb2dc;
    border-width: 15px;
}

h1.logo_text {
    text-decoration: underline;
    text-decoration-color: #ffe2fb;
    color: rgb(69, 57, 51);
    position: relative;
    margin: 0%;
    top: 15px;
    width: 120px;
    font-size: 20px;
    left: -12px;
    font-family: 'Lucida Sans Unicode';
}

div.banner_block {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #fff0f9;
    padding: 0;
    top: 0;
    z-index: -1;
    border-bottom: white;
    border-bottom-style: double;
    border-bottom-width: 10px;
}

a.logo_link {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 50px;
    left: -15px;
    top: -20px;
}

img{
    padding:5px;
    margin-left:15%;
    width:1000px;
    height: 90px;
}