table{
    background-color: pink;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    width: 95%;
    text-align: center;
    font-size: 23px;
    border-style: double;
    border-width: 10px;
    border-color: white;
}

h1{
    font-size: 25px;
}

input{
    font-size: 20px;
}

select{
    font-size: 20px;
}

button{
    font-size: 25px;
    background-color: white;
}

h2{
    background-color: white;
    border-radius: 10px;
}

#telefon{
    background-color: white;
    border-radius: 10px;
}