body{
    margin: 10px;
}
form{
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    font-size: 20px;
    background-color: #ffe9ed;
    height: 70vh;
}
input{
    padding: 20px;
    margin: 15px;
}

button{
    font-size: 25px;
}

.footer {
    font-size:30px;
}

table{
    width: 100%;
}

td{
    width: 100%;
}

#titlu {
    font-size: 40px;
}

img{
    width:500px;
    height: 620px;
}