body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Lucida Sans Unicode';
    overflow-x: hidden;
}

a.inapoi{
    background-color: #ffdfe4;
    padding: 10px;
    border-radius: 5px;
}

a:visited {
    color: #55423f;
}

a {
    text-decoration: none;
    color: #55423f;
}