img {
    width: 320px;
    height: 700px;
    border-radius: 10px;
    border-style: double;
    border-color: pink;
    border-width: 5px;
    float: right;
    margin-right: 50px;
}

body{
    overflow: hidden;
}

table {
    text-align: center;
    width: 100%;
    height:100%;
}

td.text {
    padding: 15px;
    float: left;
}

td.text p {
    font-size: 24px;
}

hr {
    border-color: pink;
}

.anunt {
    background-color: #ffe2f3;
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    font-size: 22px;
    margin-top: 40px;
}

a:visited {
    color: #ff57b9;
}

table.butoane{
    width: 100%;
    background-color: #fff0f3;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.butoane td{
    padding:20px;
    font-size: 25px;
    border-radius: 10px;
    border-style:double;
    border-color:white;
    border-width: 10px;
    width:50%;
}
.butoane td:hover{
    background-color: pink;
}