div.side_nav {
    height: 100%;
    width: 180px;
}

body{
    background-color:pink;
}

table.nav_table {
    border-right: double !important;
    border-color: white !important;
    border-width: 9px !important;
    position: fixed;
    left: 1px;
    width: 180px;
    height: 100%;
    text-align: center;
    font-size: 28px;
    padding: 10px;
}

.nav_table thead,
.nav_table tbody {
    background-color: white;
}

.nav_table td {
    border-radius: 10px;
}

.nav_table a:hover {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 29px;
    border-radius: 15px;
    background-color: #ffa6d7;
}